.headerBackground {
  background: #3090e4 url('../images/bg.png') center center;
  background-size: 30rem;
  color: #ffffff;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 2rem;
}

.headerLink {
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
  color: #ffffff;
}

.headerLink:hover {
  text-decoration: none;
  color: #ffffff;
}
